@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">The best dang General Store in all of the land.</p>
    @Html.ActionLink("Learn More About Us", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Our General Store values its customers. So much so that we like to keep track of every single customer so we can best serve their needs.</p>
        @Html.ActionLink("Check Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>
            We here at the General Store pride ourselves on our ability to keep everthing above board.<br />
            Click here to check out our public ledger, it may not be as sophisticated as a block-chain but we value it nonetheless.
        </p>
        @Html.ActionLink("Check Transactions", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>